<div mat-dialog-title class="container-fluid">
  <div class="row">
    <h2 class="col">Customize Holdings Component</h2>
  </div>
  <div class="row justify-content-end">
    <div class="col-auto">
      <button mat-stroked-button class="show-tiles pl-2 pr-2 ml-1 mr-1" (click)="show(dialog)" #myButton>
        <span class="name">Group Holdings By</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
    <div class="col-auto">
      <app-multi-selection
        [name]="'Data Table Columns'"
        [selectionSets]="columnSets"
        (newOptions)="columnsSelected($event)"
      ></app-multi-selection>
      
    </div>
  </div>
</div>
<div mat-dialog-content class="container-fluid m-1 p-1">
  <wri-holdings
    [options]="params"
    [numberOfColumnsToShow]="params.dataColumns.length"
    [useDummyData]="true"
  ></wri-holdings>
</div>
<div mat-dialog-actions class="float-right">
  <button mat-button color="primary" [mat-dialog-close]="params" cdkFocusInitial [disabled]="saveDisabled">Save</button>
  <button mat-button color="primary" outline="true" (click)="onNoClick()">Cancel</button>
</div>

<ng-template #dialog>
  <mat-dialog-content>
    <div class="container-fluid">
      <div class="row align-items-center border">
        <div class="col-auto">
          <a *ngIf="!category1PanelOpen && params.category1 !== null" (click)="category1PanelOpen = true"><mat-icon>add_circle</mat-icon></a>
          <a *ngIf="category1PanelOpen && params.category1 !== null" (click)="category1PanelOpen = false"><mat-icon>remove_circle</mat-icon></a>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-select [(ngModel)]="params.category1" name="category" (selectionChange)="onChange1()">
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-100"></div>
        <ng-container *ngIf="category1PanelOpen && params.category1 !== null">
          <div class="col-6" *ngFor="let selection of category1MultiSelections">
            <div>
              <input type="checkbox" [disabled]="selection.disabled" [(ngModel)]="selection.selected" (ngModelChange)="category1ColumnsSelected(category1MultiSelections)">
              <span class="ml-1">{{selection.name}}</span>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row align-items-center border">
        <div class="col-auto">
          <a *ngIf="!category2PanelOpen && params.category2 !== null" (click)="category2PanelOpen = true"><mat-icon>add_circle</mat-icon></a>
          <a *ngIf="category2PanelOpen && params.category2 !== null" (click)="category2PanelOpen = false"><mat-icon>remove_circle</mat-icon></a>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-select [(ngModel)]="params.category2" name="category" (selectionChange)="onChange2()">
              <ng-container *ngFor="let category of categories">
                <mat-option *ngIf="category.value !== params.category1" [value]="category.value">
                  {{category.viewValue}}
                </mat-option>
              </ng-container>
          </mat-select>
          </mat-form-field>
        </div>
        <div class="w-100"></div>
        <ng-container *ngIf="category2PanelOpen && params.category2 !== null">
          <div class="col-6" *ngFor="let selection of category2MultiSelections">
            <div>
              <input type="checkbox" [disabled]="selection.disabled" [(ngModel)]="selection.selected" (ngModelChange)="category2ColumnsSelected(category2MultiSelections)">
              <span class="ml-1">{{selection.name}}</span>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row align-items-center border">
        <div class="col-auto">
          <a *ngIf="!category3PanelOpen && params.category3 !== null" (click)="category3PanelOpen = true"><mat-icon>add_circle</mat-icon></a>
          <a *ngIf="category3PanelOpen && params.category3 !== null" (click)="category3PanelOpen = false"><mat-icon>remove_circle</mat-icon></a>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-select [(ngModel)]="params.category3" name="category" (selectionChange)="onChange3()">
              <ng-container *ngFor="let category of categories">
                <mat-option *ngIf="category.value !== params.category1 && category.value !== params.category2" [value]="category.value">
                  {{category.viewValue}}
                </mat-option>
              </ng-container>
          </mat-select>
          </mat-form-field>
        </div>
        <div class="w-100"></div>
        <ng-container *ngIf="category3PanelOpen && params.category3 !== null">
          <div class="col-6" *ngFor="let selection of category3MultiSelections">
            <div>
              <input type="checkbox" [disabled]="selection.disabled" [(ngModel)]="selection.selected" (ngModelChange)="category3ColumnsSelected(category3MultiSelections)">
              <span class="ml-1">{{selection.name}}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>