/* You can add global styles to this file, and also import other style files */
:root {
  --brand-color-1: #A29060;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
body {
  background-image: url(/assets/background.png);
}

.port_head {
  color: #333;
  font-size: 20px;
  margin: 20px 0px 10px 0px;
}
*/

.report-builder {
  border: 1px solid #cfcfcf;
  background-color: #FFF;
}

.thinButton {
  background-color: var(--brand-color-1);
  border: 1px solid var(--vrand-color-1);
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
  padding: 5px 20px !important;
  height: 25px;
  border-radius: 0px !important; 
}

.informMsg, .successMsg, .failureMsg, .warningMsg{
  vertical-align: middle;
  background-color: #F0F0F0;
  border-radius: 3px;
  min-height: 25px;
  color: #333;
  border: 1px solid;
}
.informMsg {
  border-color: #0066FF;
}
.successMsg {
  border-color: #08AB05;
}
.failureMsg {
  border-color: #E35205;
}
.warningMsg {
  border-color: #FEBF00;
}
.informMsg i, .successMsg i, .failureMsg i, .warningMsg i{
  font-size: 30px;
}

.informMsg i {
  color: #0066FF;
}
.successMsg i {
  color: #08AB05;
}
.failureMsg i {
  color: #E35205;
}
.warningMsg i {
  color: #FEBF00;
}
