@import '~@angular/material/theming';
.icon {
  max-width: 20px;
}

.gridsterStyles {
  background-color: #333333;
  overflow: hidden;
}

.hide-tiles {
  font-size: 11px;
  font-weight: 400;
  color: #A29060
}

.show-tiles {
  font-size: 11px;
  font-weight: 400;
  background-color: #A29060;
  color: #FFF;
}

hr {
  background: #A29060;
  height: 1px;
}

.componentPreview {
  width: 190px;
  height: 190px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 5;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.componentPreview:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.componentContainer {
  min-width: 230px;
  max-width: 230px;
  max-height: 100%;
}
.fixedPosition {
  position: fixed;
  overflow-y: auto;
  max-height: 88vh;
  border-right: 1px solid #333333;
  padding-right: 10px;
}
.spacer {
  min-width: 10px;
}

.controlsSection {
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  padding-top: 10px;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 20;
}

.report-builder {
  min-height: 95vh;
}

.designer {
  min-width: 1400px;
}

.editableArea {
  background-color: #FBFBFB;
  border-width: 1px;
  border-style: dashed;
  border-color: #979797;
  padding: 10px;
}
.section {
  background-color: #FBFBFB;
  border-width: 1px;
  border-style: dashed;
  border-color: #979797;
  border-top: none;
  margin-left: 0px;
  margin-right: 0px;
}
.simpleSection {
  border: 1px dashed #979797;
}
.gridsterActions {
  min-height: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

.disabledIcon {
  color: #BBBBBB
}
