<div class="ml-3 mr-3 designer">
  <common-messaging class="mb-2"
  displayType="inpage"
    [message]="message"
  >
  </common-messaging>
  <div class="container-fluid report-builder rounded-lg p-2">
    <div class="row align-items-center controlsSection">
      <div class="col-auto" *ngIf="showComponents">
        <button mat-stroked-button class="hide-tiles pl-2 pr-2" (click)="showHideTiles()">Hide Tiles&nbsp;&nbsp;<mdb-icon fas icon="angle-double-left" size="lg"></mdb-icon></button>
      </div>
      <div class="col-auto" *ngIf="!showComponents">
        <button mat-stroked-button class="show-tiles pl-2 pr-2" (click)="showHideTiles()">Show Tiles&nbsp;&nbsp;<mdb-icon fas icon="angle-double-right" size="lg"></mdb-icon></button>
      </div>
      <div class="col-auto">
        Orientation:
      </div>
      <div class="col-auto" *ngIf="!portraitOrientation">
        <button mat-stroked-button  (click)="changeOrientation()">Landscape&nbsp;&nbsp;<mat-icon>arrow_drop_down</mat-icon></button>
      </div>
      <div class="col-auto" *ngIf="portraitOrientation">
        <button mat-stroked-button  (click)="changeOrientation()">Portrait&nbsp;&nbsp;<mat-icon>arrow_drop_down</mat-icon></button>
      </div>
      <div class="col-auto">
        Page Type:
      </div>
      <div class="col-auto" *ngIf="pageType === PageType.SinglePage">
        <button mat-stroked-button  (click)="changePageType()">Single Page&nbsp;&nbsp;<mat-icon>arrow_drop_down</mat-icon></button>
      </div>
      <div class="col-auto" *ngIf="pageType === PageType.MultiPage">
        <button mat-stroked-button  (click)="changePageType()">Multi Page&nbsp;&nbsp;<mat-icon>arrow_drop_down</mat-icon></button>
      </div>
      <div class="col-auto" *ngIf="pageType === PageType.MultiPage">
        <button mat-stroked-button  (click)="addNewSection(SectionType.Dynamic)">Add new section</button>
      </div>
      <div class="col"> &nbsp;</div>
      <div class="col-auto">
        <button mat-stroked-button class="show-tiles pl-2 pr-2 ml-1 mr-1">Preview</button>
        <app-save-report
          [sections]="sections"
          [portraitOrientation]="portraitOrientation"
          [pageType]="pageType"
          (message)="showMessage($event)"
        ></app-save-report>
        <button mat-stroked-button class="hide-tiles pl-2 pr-2 ml-1 mr-1">Cancel</button>
      </div>
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-auto ml-3 pt-0 pl-0 pr-0 componentContainer" *ngIf="showComponents">
        <div class="fixedPosition">
          <ng-container *ngFor="let component of components; index as i">
            <div class="componentPreview border mb-2 mt-2" draggable="true" (dragstart)="dragStartHandler($event, i)">
              {{component.label}}<br>
              Minimum Columns: {{component.cols}}
            </div>  
          </ng-container>  
        </div>
      </div>
      <div class="col-auto">
        <div class="editableArea">
          <ng-container *ngFor=" let section of sections; index as i">
            <!--Section Component Grid-->
            <div class="mt-2 mb-2" *ngIf="section.type !== SectionType.Header && pageType === PageType.MultiPage">
              <button mat-stroked-button  (click)="addNewSection(SectionType.Dynamic,i)">+Add New Section</button>
            </div>
            <div class="row justify-content-between align-items-center gridsterActions border" *ngIf="section.type === SectionType.Dynamic || section.type === SectionType.Fixed">
              <div class="col-auto">
                <span  *ngIf="section.hasLayoutError">Error! The Section below has components laid out in a way that cannot be rendered. Make sure components are aligned.</span>
              </div>
              <div class="col-auto">
                <ng-container *ngIf="pageType === PageType.MultiPage">
                  <a *ngIf="i > 1" (click)="moveItemInArray(sections,i,i-1)"><i class="fa fa-arrow-up"></i></a>
                  <a *ngIf="i <= 1"><i class="fa fa-arrow-up disabledIcon"></i></a>
                  &nbsp;&nbsp;
                  <a *ngIf="(i < (sections.length - 2))" (click)="moveItemInArray(sections,i+1,i)"><i class="fa fa-arrow-down"></i></a>
                  <a *ngIf="(i === (sections.length - 2))"><i class="fa fa-arrow-down disabledIcon"></i></a>
                  <a class=" ml-4 pl-4 border-left" (click)="deleteSection(section,i)"><i class="fa fa-trash-alt" ></i> Remove Section</a>  
                </ng-container>
              </div>
            </div>
            <div class="row section mt-2 mb-2" [class.simpleSection]="section.type === SectionType.Header || section.type === SectionType.Footer">
              <div class="col-auto p-1 m-0" [style.min-width.px]="gridWidth" [style.max-width.px]="gridWidth" [style.min-height.px]="section.height" [style.max-height.px]="section.height">
                <gridster [options]="section.sectionOptions" class="gridsterStyles">
                  <gridster-item [item]="item" *ngFor="let item of section.dashboard">
                    <div class="container-fluid pl-0 pr-0">
                      <div class="d-flex justify-content-between row pl-0 pr-0 pt-1 pb-1 border-bottom gridsterActions" style="position: relative" *ngIf="item.dragEnabled || item.delete || item.edit">
                        <div class="item-buttons col-auto">
                          <a class="drag-handler" *ngIf="item.dragEnabled">
                            <img class="icon" src="assets/move.png"/>
                          </a>
                        </div>
                        <div class="item-buttons col-auto">
                          <a *ngIf="item.delete" (mousedown)="section.removeItem($event, item)"
                            (touchstart)="section.removeItem($event, item)">
                            <img class="icon" src="assets/remove.png"/>
                          </a>
                        </div>
                      </div>
                      <div class="row">
                        <div *ngIf="!item.hasContent" class="gridster-item-content col">
                          <textarea matInput rows="4" placeholder="Label will be:" class="font-weight-bold blue-text">{{item.label}}</textarea>
                        </div>
                        <div *ngIf="item.hasContent" class="gridster-item-content col">
                          <ndc-dynamic [ndcDynamicComponent]="item.type"
                            [ndcDynamicInputs]="{widget: item, resizeEvent: resizeEvent, portraitOrientation: portraitOrientation}"
                            [ndcDynamicOutputs]="item.outputs"
                          >
                          </ndc-dynamic>
                        </div>
                      </div>
                    </div>
                  </gridster-item>
                </gridster>
              </div>
            </div>
            <!--End Section Component-->
          </ng-container>  
        </div>
      </div>
    </div>
  </div>
</div>