.sortable-list {
  min-height: 30px;
  border-width: 0px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.set-box {
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-box {
  padding: 2px 8px 2px 2px;
  margin-top: 5px;
  margin-bottom: 2px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  border-radius: 4px;
  min-height: 45px;
}

.non-sortable-box {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rowBox {
  min-height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sub-detail {
  padding-left: 35px;
}

.sortable-box {
  cursor: move;
}

.sortable-box:hover {
  border: 1px solid #E6E6E6;
  background-color: #E6E6E6;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.29)
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sortable-listlist.cdk-drop-list-dragging .sortable-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.disabledIcon {
  color: #BBBBBB
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin-left: 8px;
}

.box input {
  margin-left: 8px;
  margin-right: 5px;
}

.box input.non-sortable-check {
  margin-left: 8px;
  margin-right: 5px;
}

.subHeading{
  font-size: smaller;
  text-align: right;
}

.name {
  font-size: 14px;
}

.arrows {
  width: 40px;
}

.selectionName {
  width: 220px;
}

.setName {
  font-weight: bold;
  font-size: 13px;
}

hr {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 1px;
}

.dialog-overlay {
  background-color: white;
}

.customDropdown {
  min-width: 130px;
}

.p-0        { padding:        0 !important; }
.pt-0 .py-0 { padding-top:    0 !important; }
.pb-0 .py-0 { padding-bottom: 0 !important; }
.pl-0 .px-0 { padding-left:   0 !important; }
.pr-0 .px-0 { padding-right:  0 !important; }
.p-1        { padding:        0.25rem !important; }
.pt-1 .py-1 { padding-top:    0.25rem !important; }
.pb-1 .py-1 { padding-bottom: 0.25rem !important; }
.pl-1 .px-1 { padding-left:   0.25rem !important; }
.pr-1 .px-1 { padding-right:  0.25rem !important; }
.p-2        { padding:        0.5rem !important; }
.pt-2 .py-2 { padding-top:    0.5rem !important; }
.pb-2 .py-2 { padding-bottom: 0.5rem !important; }
.pl-2 .px-2 { padding-left:   0.5rem !important; }
.pr-2 .px-2 { padding-right:  0.5rem !important; }
.p-3        { padding:        0.75rem !important; }
.pt-3 .py-3 { padding-top:    0.75rem !important; }
.pb-3 .py-3 { padding-bottom: 0.75rem !important; }
.pl-3 .px-3 { padding-left:   0.75rem !important; }
.pr-3 .px-3 { padding-right:  0.75rem !important; }
.p-4        { padding:        1rem !important; }
.pt-4 .py-4 { padding-top:    1rem !important; }
.pb-4 .py-4 { padding-bottom: 1rem !important; }
.pl-4 .px-4 { padding-left:   1rem !important; }
.pr-4 .px-4 { padding-right:  1rem !important; }

.m-0        { margin:        0 !important; }
.mt-0 .my-0 { margin-top:    0 !important; }
.mb-0 .my-0 { margin-bottom: 0 !important; }
.ml-0 .mx-0 { margin-left:   0 !important; }
.mr-0 .mx-0 { margin-right:  0 !important; }
.m-1        { margin:        0.25rem !important; }
.mt-1 .my-1 { margin-top:    0.25rem !important; }
.mb-1 .my-1 { margin-bottom: 0.25rem !important; }
.ml-1 .mx-1 { margin-left:   0.25rem !important; }
.mr-1 .mx-1 { margin-right:  0.25rem !important; }
.m-2        { margin:        0.5rem !important; }
.mt-2 .my-2 { margin-top:    0.5rem !important; }
.mb-2 .my-2 { margin-bottom: 0.5rem !important; }
.ml-2 .mx-2 { margin-left:   0.5rem !important; }
.mr-2 .mx-2 { margin-right:  0.5rem !important; }
.m-3        { margin:        0.75rem !important; }
.mt-3 .my-3 { margin-top:    0.75rem !important; }
.mb-3 .my-3 { margin-bottom: 0.75rem !important; }
.ml-3 .mx-3 { margin-left:   0.75rem !important; }
.mr-3 .mx-3 { margin-right:  0.75rem !important; }
.m-4        { margin:        1rem !important; }
.mt-4 .my-4 { margin-top:    1rem !important; }
.mb-4 .my-4 { margin-bottom: 1rem !important; }
.ml-4 .mx-4 { margin-left:   1rem !important; }
.mr-4 .mx-4 { margin-right:  1rem !important; }
