<div  class="customDropdown" (click)="show(dialog)" #myButton>
  <span>{{name}}</span>
  <i class="fas fa-caret-down multi-select-ml-1"></i>
</div>

<ng-template #dialog>
  <div class="content-area" [style.maxHeight]="innerContentDivHeight + 'px'" (window:resize)="onResize($event)">
    <div class="set-box" *ngFor="let set of internalSelectionSets; index as setIndex">
      <div class="container-fluid" *ngIf="set.name || set.maxSelections < set.selectionSet.length">
        <div class="row multi-select-mt-3 align-items-center multi-select-mb-1">
          <div class="col set-name" >{{set.name}}</div>
          <div class="col-6 max-selections" *ngIf="set.maxSelections < set.selectionSet.length">Select up to {{set.maxSelections}}</div>
        </div>
      </div>
      <!--This section is for non sortable listing. The look is different for this section with each row not being covered by a box etc and shorter selection items-->
      <div *ngIf="!set.sortable">
        <div *ngFor="let selection of set.selectionSet; index as i">
          <div class="non-sortable-box row-box">
            <input class="non-sortable-item-input" type="checkbox" [disabled]="selection.disabled || (!selection.selected && set.currentSelectedCount === set.maxSelections)" [ngModel]="selection.selected" (ngModelChange)="onCheckedNonSortable(i, $event,setIndex)">
            <div class="non-sortable-selection-name">{{selection.name}}</div>
          </div>
        </div>
      </div>
      <!--The next three divs are sortable listings. The look for all of them includes a box item-box class.-->
      <!--First section is for the items in the sortable list that are selected but disabled and not draggable.-->
      <!--Second section is for the draggble items. The items shown here have been sorted as per the setCurrentSelections function-->        
      <!--Third section is for those items that are not draggable and are not disabled.-->
      <!--Note items sent in with the settings of not selected, and disabled are not shown in any of the three sections.-->
      <div *ngIf="set.sortable">
        <div *ngFor="let selection of set.selectionSet; index as i">
          <div class="item-box" *ngIf="set.sortable && selection.disabled && selection.selected && !selection.draggable">
            <div class="row-box">
              <i class="fas fa-grip-vertical hidden-icon" ></i>
              <input class="sortable-item-input" type="checkbox" [disabled]="selection.disabled || (!selection.selected && set.currentSelectedCount === set.maxSelections)" [ngModel]="selection.selected" (ngModelChange)="onCheckedNonSortable(i, $event,setIndex)">
              <div class="selection-name">{{selection.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <!--hr *ngIf="set.sortable && set.sortableEndCount !== set.selectionSet.length"-->
      <div cdkDropList class="sortable-list" (cdkDropListDropped)="drop($event, setIndex)" *ngIf="set.sortable && set.sortableEndCount !== 0">
        <div *ngFor="let selection of set.selectionSet; index as i">
          <div class="item-box" [class.sortable-box]="selection.selected || set.currentSelectedCount < set.maxSelections" 
          *ngIf="selection.draggable" 
          cdkDrag [cdkDragDisabled]="(!selection.draggable || (!selection.selected  && set.currentSelectedCount >= set.maxSelections))">
            <div class="row-box justify-between">
              <div class="row-box">
                <i class="fas fa-grip-vertical" [class.disabledIcon]="!selection.selected && set.currentSelectedCount >= set.maxSelections" ></i>
                <input class="sortable-item-input" type="checkbox" [disabled]="selection.disabled || (!selection.selected && set.currentSelectedCount == set.maxSelections)" [ngModel]="selection.selected" (ngModelChange)="onChecked(i, $event, setIndex)">
                <div class="selection-name main-selection">{{selection.name}}</div>
              </div>
              <div class="arrows multi-select-mr-1">
                <!--The logic in this section is dependent on the sort order of the sortable set.-->
                <a *ngIf="i  >  0 && ( selection.selected || set.currentSelectedCount <  set.maxSelections)" (click)="validateAndMove(set,i,i-1)"><i class="fas fa-arrow-up multi-select-mr-2"></i></a>
                <a *ngIf="i === 0 || (!selection.selected && set.currentSelectedCount >= set.maxSelections)"><i class="fas fa-arrow-up disabled-icon multi-select-mr-2"></i></a>
                <!--The logic below is to show the disabled arrow if it is the last of the sortable items or the item is not selected and max selections have been done or item is selected as well as the index is not equal to the max number of selections  excluding the disabled and selected items-->
                <a *ngIf="(i === (set.sortableEndCount -1 ) || (!selection.selected && set.currentSelectedCount === set.maxSelections) || ( selection.selected && i === (set.maxSelections - set.selectedAndNotDraggabledCount - 1)))"><i class="fas fa-arrow-down disabled-icon"></i></a>
                <!--The logic below is the opposite of when to show an enabled arrow-->
                <a *ngIf="(i !== (set.sortableEndCount -1 ) && ( selection.selected || set.currentSelectedCount  <  set.maxSelections) && (!selection.selected || i  <  (set.maxSelections - set.selectedAndNotDraggabledCount - 1)))" (click)="validateAndMove(set,i,i+1)"><i class="fas fa-arrow-down"></i></a>
              </div>
            </div>              
            <ng-container 
              [ngTemplateOutlet]="subSelections" 
              [ngTemplateOutletContext]="{parentSelection: selection}">
            </ng-container>
          </div>
        </div>
      </div>
      <!--This section is a repeat of the code above for non sortable section so that we can put the disabled, unchecked items at the bottom of the set.-->
      <div *ngIf="set.sortable">
        <div *ngFor="let selection of set.selectionSet; index as i">
          <div class="item-box" *ngIf="(set.sortable && !selection.draggable && !selection.disabled)">
            <div class="row-box">
              <i class="fas fa-grip-vertical hidden-icon" ></i>
              <input class="sortable-item-input" type="checkbox" [disabled]="selection.disabled || (!selection.selected && set.currentSelectedCount == set.maxSelections)" [ngModel]="selection.selected" (ngModelChange)="onCheckedNonSortable(i, $event,setIndex)">
              <div class="selection-name">{{selection.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <hr *ngIf="setIndex !== internalSelectionSets.length - 1 && (setIndex < internalSelectionSets.length - 1 && !internalSelectionSets[setIndex+1].name)">
    </div> <!--Set End-->
  </div> <!-- Content Div End-->
  <div class="button_row_popup">
    <input type="submit" value="Apply"  title="Apply" class="btn" (click)="save()" [disabled]="disableSave">
    <input type="submit" value="Cancel" title="Cancel" class="btn neg" (click)="cancel()">
  </div>
</ng-template>

<!--This section is to be used only for the sub section-->
<ng-template #subSelections let-parentSelection='parentSelection'>
  <div *ngIf="parentSelection.selected && parentSelection.subSelections" class="sub-detail-main-box">
    <ng-container *ngFor="let selection of parentSelection.subSelections; index as i">
      <div class="sub-detail row-box" [class.details-showing]="selection.showDetails" >
        <div class="link-pointer" *ngIf="selection.selectionDetails && !selection.showDetails" (click)="showHideSelectionDetails(selection)"><i class="multi-select-ml-1 fas fa-plus-circle" ></i></div>
        <div class="link-pointer" *ngIf="selection.selectionDetails &&  selection.showDetails" (click)="showHideSelectionDetails(selection)"><i class="multi-select-ml-1 fas fa-minus-circle"></i></div>
        <div *ngIf="!selection.selectionDetails"> <i class="hidden-icon multi-select-ml-1 fas fa-minus-circle"></i></div>
        <input class="sub-selection-input" type="checkbox" [disabled]="selection.disabled" [(ngModel)]="selection.selected" >
        <div class="sub-detail-selection-name">{{selection.name}}</div>
      </div>
      <ng-container *ngIf="selection.selectionDetails && selection.showDetails">
        <ng-container *ngFor="let detail of selection.selectionDetails">
          <div class="sub-detail-selection-details">{{detail}}</div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-template>